<ion-view view-title="About">
  <ion-content>
    <h1>About QuickTaxi</h1>
    <div class="container-fluid">
        <div class="row">
            <p>This application is intended to let you find the closest taxi and book a ride. 
            You can then see when the taxi has arrived and pay for the ride. 
            If you find that there are any features missing, please contact us by
            <a href="mailto:kerwin.jorbina@gmail.com?Subject=QuickTaxi%20support">sending a mail</a>
            </p>
        </div>
        <div class="card">
            <img class="full-image" src="../img/carzytaxi.jpg">
            <center><h1 class="  item item-text-wrap ">Crazy Taxi</h1></center>
        </div>
    </div>
  </ion-content>
</ion-view>
