<ion-view view-title="Balance">
  <ion-content class="card ">
      <div class="list list-inset">
        <table class="table table-striped">
          <tr><td>Current Balance:</td><td>&euro;{{balance}}</td></tr>
        </table>
      </div>
    <div class="list list-inset">
	  <div class="form-group">
		  <label for="sel1">Load...</label>
		  <select class="form-control" id="addBalanceValue" ng-model="addBalanceValue">
		    <option value="5.00">5</option>
		    <option value="10.00">10</option>
		    <option value="20.00">20</option>
		    <option value="50.00">50</option>
		  </select>
	  </div>
    <button id="submit-add" ng-click="addBalance()" class="button button-block button-positive " >Add Balance</button>
  </div>
  </ion-content>
</ion-view>
