<ion-view view-title="BookingsHistory">
  <ion-content>
    <h1>Bookings History</h1>
    <div class="container-fluid">
        <div class="row">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Taxi</th>
                        <th>Origin address</th>
                        <th>Destination address</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in bookings">
                        <td>{{ x.name }}</td>
                        <td>{{ x.originAddress }}</td>
                        <td>{{ x.destinationAddress }}</td>
                        <td>{{ x.status }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </ion-content>
</ion-view>
