<ion-view view-title="Book">
  <ion-content>
  	<div class="container-fluid card">

      <div id="map" style="width:100%;height:400px;"></div>

      <div class="">
        <div class="list list-inset">
          <form ng-controller="BookingsCtrl" class="list list-inset">
              <p>You are here</p>
              <label class = "item item-input">
                <input type="text" id="lat-input" placeholder="Latitude"  ng-model="latitude"/>
              </label>
              <label class = "item item-input">
                <input type ="text" id="lng-input" placeholder="Longitude"  ng-model="longitude"/>
              </label>
              <label class = "item item-input">
              <center>  <input type = "text" id="destination" placeholder="Going to: " class="item item-input" ng-model="destination"/></center>
              </label>
                <button id="submit-coord" class="button button-block button-positive" ng-click="submit()">Submit</button>
          </form>
        </div>
      </div>
  	  <div class="row">
  	      <div id="sync-notification">
  	        {{syncNotification}}
  	      </div>
  	      <div id="async-notification">
  	        {{asyncNotification}}
  	      </div>
  	  </div>
  	</div>
  </ion-content>
</ion-view>
