<ion-view view-title="FindingTaxi">
  <ion-content>
    <h1>Finding a Taxi for you... Please wait...</h1>
    <div class="container-fluid">
      <div class="row">
      	<label>Origin: </label> <strong>{{origin}}</strong>
      </div>
      <div class="row">
      	<label>Destination: </label> <strong>{{destination}}</strong>
      </div>
      <div class="row">
        <center><img ng-src="/img/loading_spinner.gif"/></center>
      </div>
      <div class="row">
        <button id="submit-cancel" class="btn btn-danger" ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </ion-content>
</ion-view>



