<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input id="email" type="text" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input id="password" type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button id="login-submit" class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
    <ion-item menu-close href="#/app/register">
      <button class="button" ng-click="register()">Register</button>
    </ion-item>
  </ion-content>
</ion-modal-view>
