<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button id="menu-button" class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close id="login-menu" ng-click="login()" ng-show="{{is_user}}">
          Login
        </ion-item>
        <ion-item menu-close id="logout-menu" ng-click="logout()" ng-hide="{{is_user}}">
          ({{user_name}}) Logout
        </ion-item>
        <ion-item menu-close href="#/app/book" ng-hide="{{is_user}}">
          Book Taxi
        </ion-item>
        <ion-item menu-close href="#/app/balance" ng-hide="{{is_user}}">
          Balance
        </ion-item>
        <ion-item menu-close href="#/app/settings" ng-hide="{{is_user}}">
          Settings
        </ion-item>
        <ion-item menu-close href="#/app/bookingshistory" ng-hide="{{is_user}}">
          Bookings history
        </ion-item>
        <ion-item menu-close href="#/app/about">
          About
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
