<ion-view view-title="Registration">
  <ion-content>
    <h1>Register a New User</h1>
    <div class="container-fluid">
      <form ng-submit="doRegistration()" ng-controller="RegisterCtrl">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" class="form-control" ng-model="email">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" class="form-control" ng-model="password">
          </label>
          <label class="item item-input">
            <span class="input-label">Name</span>
            <input type="text" class="form-control" ng-model="name">
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Submit</button>
          </label>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>



