<ion-view view-title="Settings">
  <ion-content class="card">
    <h1>Settings</h1>
  	<div class="container-fluid">
        <form ng-controller="SettingsCtrl">
        <div class="row">
            <div class="item range">
                <i class="icon ion-volume-low"></i>
                <input type="range" name="volume">
                <i class="icon ion-volume-high"></i>
            </div>
            <div class="list">
                <div class="item range range-positive">
                    <i class="icon ion-ios-sunny-outline"></i>
                    <input type="range" name="volume" min="0" max="100" value="33">
                    <i class="icon ion-ios-sunny"></i>
                </div>
            </div>
        </div>
        <div class="row">
	      <table class="table table-striped">
	        <tr>
                <td>Name:</td>
                <td><input id="name-input" placeholder="Name" class="form-control" ng-model="name"/></td>
            </tr>
	        <tr>
                <td>E-mail:</td>
                <td><input type="email" id="email-input" placeholder="mail" class="form-control" ng-model="email" readonly="readonly"/></td>
            </tr>
	        <tr>
                <td>Phone number:</td>
                <td><input id="phone-input" type="tel" placeholder="phone" class="form-control" ng-model="phone"/></td>
            </tr>
            <tr style="display: {{hide_psw}};">
                <td></td>
                <td><button type="button" class="btn btn-default btn-xs" ng-click="psw(); count = count + 1" ng-init="count=0">Change password</button></td>
            </tr>
            <tr style="display: {{show_psw}};">
                <td>Password:</td>
                <td><input id="passw-input" type="password" class="form-control" ng-model="passwOld"/></td>
            </tr>
            <tr style="display: {{show_psw}};">
                <td>New password:</td>
                <td><input id="passw-input" type="password" class="form-control" ng-model="passwNew"/</td>
            </tr>
            <tr style="display: {{show_psw}};">
                <td>Repeat password:</td>
                <td><input id="passw-input" type="password" class="form-control" ng-model="passwNew2x"/</td>
            </tr>
	      </table>
      </div>
      <div class="row">
      	  <button id="submit-settings" class="btn btn-primary btn-lg" ng-click="submit()">Submit</button>
	  </div>
      </form>
  	</div>
  </ion-content>
</ion-view>
