<ion-view view-title="Success">
  <ion-content>
    <h1>Found a Taxi For You!</h1>
    <div class="container-fluid">
      <div class="row">
        <div id="map" style="width:100%;height:400px;"></div>
      </div>
      <div class="row">
        <table class="table table-striped">
          <tr><td>Origin:</td><td>{{address}}</td></tr>
          <tr><td>Destination:</td><td>{{destination}}</td></tr>
          <tr><td colspan=2><strong>Taxi Details</strong></td></tr>
          <tr><td>Driver Name:</td><td>{{driver_name}}</td></tr>
          <tr><td>Operator:</td><td>{{operator}}</td></tr>
          <tr><td>Plate Number:</td><td>{{plate_number}}</td></tr>
          <tr><td>Contact Number:</td><td>{{contact_number}}</td></tr>
          <tr><td>Travel Duration:</td><td>{{eta}}</td></tr>
          <tr><td>Distance:</td><td>{{distance}}</td></tr>
        </table>
      </div>
    </div>
  </ion-content>
</ion-view>



